@font-face {
    font-family: 'bebas';
    src: url('bebas-webfont.eot');
    src: url('bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebas-webfont.woff2') format('woff2'),
         url('bebas-webfont.woff') format('woff')
         url('bebas.ttf') format('ttf');
        
    font-weight: normal;
    font-style: normal;
}

body{
	background-color:#C1E1E3;
	font-family:Proxima Nova;


}
.headers{
	font-family:Bebas;
	font-size:35px;


}
.list{
	font-family:Bebas;
	font-variant:kai;
	font-size:20px;

}
 
